/* Global Properties */


  body {
    background: black;

    font-family: "lato", sans-serif;

    margin: 0px;

    padding: 0px;
  }
  
  /* Main Heading Font */
  .m-heading {

    font-family: "Roboto", sans-serif;
  }
  
  /* Navigation */

  .navbar-nav{

    margin-left: auto !important;
  }

  .navbar-toggler-icon{

    color: #d3ff87 !important;
  }

  .navbar-brand{

    color: #d3ff87 !important;

    cursor: pointer;
  }

  .nav-link{

    color: #d3ff87 !important;

    cursor: pointer;
  }

   
  
  .nav-link:hover {  

    color: #e34399 !important;

    text-decoration: none;

    border-bottom: 2px solid #e34399;

    transition: 0.5s;
  }

  .colornv{
      color: #d3ff87 !important;
  }
  
  /* Jumbotron*/

  .jumbotron{
      background-image:url("https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1720&q=80");
      background-size: cover;
      height: 100vh;
      margin-bottom: 7rem;
  }

  .display-4{
      font-weight: 600;
      color: #d3ff87 !important;
      
  }

  h1{
      color: #ffff;
      font-weight: 800 !important;
      font-size: 5rem !important;

  }
  
  /* Aligning items in main row */

 
  
  
  /* Making the main image the size of the screen */
  .aboutThirdlevel img {

    border-radius: 3%; 

   }

    h1{
        cursor: pointer;
    }

  h1:hover{

    text-decoration: none;

    color: #e34399 !important;

    transition: 0.5;

  }

  
  /* About cards */

  .about {

    background: #3f3e45;

    border-radius: 0.5rem;
  }
  
  .card {

    border-color: #3f3e45;

    border-bottom: 8px solid #d3ff87;

    border-top: 8px solid #d3ff87;

    width: 18rem;

    border-radius: 5%;

    cursor: pointer;

    
  }

  .card-body{

    color: white !important;

    background: #3f3e45 !important;

      
  }

  .card:hover{
    width:20rem;
    height:105%;
    box-shadow:  10px 10px 16px #d3ff87;
  }

  .card-title:hover{

    text-decoration: none;

    color: #e34399 !important;

    transition: 0.5;


  }

  .shiny:hover{
      color: #e34399 !important;
  }
  
 

  
  /* Social Media Section */
  

  .boton:hover{

    color: #e34399 !important;
    box-shadow: 10px 10px 16px #d3ff87 !important;
    transition: 0.3 ease ;
  }

  .boton{

      color: white !important;

      border: 2px solid #d3ff87;

      border-radius: 3%;

      padding:  1rem 2rem !important;

      background-color: #3f3e45;

  }

  a{
      text-decoration: none !important;
      color: white;
  }

  a:hover{
      color: #e34399 !important;
      transition: 0.3;
  }

 

  
 
  footer{

      background-color: #3f3e45;

      height: 15vh;
  }

  .footprint:hover{
      color: #e34399 !important;
  }

  

  

   @media (max-width: 768px) { 

    
    .contact{
        display: flex;
        flex-direction: column;
    }
    .social{
        min-width: 60% !important;
    }
    
    
  }